applicationLibraries.xml
cachedDictionary.xml
databaseDrivers.xml
dimensions.xml
find.recents.xml
jdk.table.xml
*.local.xml
packages.xml
path.macros.xml
project.default.xml
proxy.settings.pwd
recentProjects.xml
runner.layout.xml
scala.xml
scratches.xml
statistics.*.xml
updates.xml
*usage.statistics.xml
web-browsers.xml
window.manager.xml
window.state.xml
