[alias]
	st = status
	git = !git
	lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[merge]
	conflictstyle = diff3
	tool = kdiff3
[gui]
	encoding = utf-8
	diffcontext = 3
	spellingdictionary = en_GB
	fontui = -family \"DejaVu Sans\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 8 -weight normal -slant roman -underline 0 -overstrike 0
[core]
	quotepath = false
	attributesfile = ~/.gitattributes
[github]
	user = l0b0
[mergetool]
	prompt = false
[push]
	default = simple
[diff "odf"]
	textconv = odt2txt
[branch]
	autosetuprebase = always
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
[pull]
	rebase = true
[gpg]
	program = gpg2
[include]
	path = .gitconfig_local
[filter "ignore_password_lines"]
	clean = sed /password/d
	smudge = cat
