[user]
	name = Victor Engmark
	email = victor.engmark@gmail.com
[alias]
	st = status
	history = !qgit --all &
	git = !git
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[color]
	diff = auto
	status = auto
[merge]
	conflictstyle = diff3
[gui]
	diffcontext = 3
[core]
	quotepath = false
