[user]
	name = Victor Engmark
	email = victor.engmark@gmail.com
[alias]
	st = status
	history = !qgit --all &
	git = !git
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	lost = !"git fsck | awk '/dangling commit/ {print $3}' | git show --format='SHA1: %C(yellow)%h%Creset %f' --stdin | awk '/SHA1/ {sub(\"SHA1: \", \"\"); print}'"
[color]
	diff = auto
	status = auto
[merge]
	conflictstyle = diff3
	tool = mymeld
[mergetool "mymeld"]
	cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE
[gui]
	diffcontext = 3
[core]
	quotepath = false
	attributesfile = ~/.gitattributes
[github]
	user = l0b0
[mergetool]
	prompt = false
[push]
	default = simple
[diff "odf"]
	textconv = odt2txt
