#!/bin/sh

set -o errexit -o nounset

exec 5>&1 6>&2 # Save stdout and stderr pointers
pipe_dir="$(mktemp --directory)"
name="xprofile-${USER}"
stdout="${pipe_dir}/stdout"
stderr="${pipe_dir}/stderr"
mkfifo "$stdout" "$stderr"
<"$stdout" logger --priority user.notice --tag "$name" &
<"$stderr" logger --priority user.error --tag "$name" &
exec >"$stdout" 2>"$stderr"
set -o noclobber

# User settings
user_resources=$HOME/.Xresources
if [ -f "$user_resources" ]
then
    DISPLAY=:0 xrdb -merge "$user_resources"
fi
unset user_resources

# Keyboard settings
xmodmap "${HOME}/.Xmodmap"

# Machine specific settings
local_xprofile=$HOME/.xprofile_local
if [ -f "$local_xprofile" ]
then
    . "$local_xprofile"
fi
unset local_xprofile

monitor_color_profile="${HOME}/.color/icc/monitor.icc"
if [ -f "$monitor_color_profile" ]
then
    /usr/bin/dispwin "$monitor_color_profile"
fi
unset monitor_color_profile

if which syndaemon 2> /dev/null
then
    syndaemon -i 0.3 -m 50 -d -t -K
fi

exec 1>&5 5>&- 2>&6 6>&- # Restore stdout and stderr pointers
rm --recursive "$pipe_dir"

wicd-client --tray >> "${HOME}/.wicd-client.log" 2>&1 &

# Lock screen automatically
light-locker &

for service in cbatticon numlockx redshift
do
    if which "$service" 2> /dev/null
    then
        "$service" &
    fi
done
