#!/bin/sh

set -o errexit -o nounset

exec 5>&1 6>&2 # Save stdout and stderr pointers
exec > ~/.xprofile.log 2>&1 # Log stdout and stderr

set -o noclobber

# User settings
user_resources=$HOME/.Xresources
if [ -f "$user_resources" ]
then
    DISPLAY=:0 xrdb -merge "$user_resources"
fi
unset user_resources

# Keyboard settings
xmodmap "${HOME}/.Xmodmap"

# Machine specific settings
local_xprofile=$HOME/.xprofile_local
if [ -f "$local_xprofile" ]
then
    . "$local_xprofile"
fi
unset local_xprofile

monitor_color_profile="${HOME}/.color/icc/monitor.icc"
if [ -f "$monitor_color_profile" ]
then
    /usr/bin/dispwin "$monitor_color_profile"
fi
unset monitor_color_profile

# GNOME Keyring Daemon
eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
export GPG_AGENT_INFO SSH_AUTH_SOCK

if which syndaemon
then
    syndaemon -i 0.3 -m 50 -d -t -K
fi

exec 1>&5 5>&- 2>&6 6>&- # Restore stdout and stderr pointers

/usr/bin/start-pulseaudio-x11

wicd-client --tray &

xautolock -time 10 -notify 10 -locker slock &

xss-lock slock &

for service in cbatticon numlockx
do
    if which "$service"
    then
        "$service" &
    fi
done
