URxvt.background:	gray5
URxvt.color0:	Black
URxvt.color1:	Red3
URxvt.color10:	SpringGreen1
URxvt.color11:	Yellow
URxvt.color12:	RoyalBlue1
URxvt.color13:	Magenta
URxvt.color14:	Cyan
URxvt.color15:	White
URxvt.color2:	Green3
URxvt.color3:	Yellow3
URxvt.color4:	Blue3
URxvt.color5:	Magenta3
URxvt.color6:	Cyan3
URxvt.color7:	AntiqueWhite
URxvt.color8:	Grey25
URxvt.color9:	Red
URxvt.font:	xft:DejaVu Sans Mono:pixelsize=42
URxvt.foreground:	gray80
URxvt.scrollBar:	false
URxvt.scrollTtyKeypress:	true
URxvt.scrollTtyOutput:	false
URxvt.scrollWithBuffer:	true
URxvt.secondaryScreen:	true
URxvt.secondaryScroll:	false
XTerm.termName:	xterm-256color
XTerm.vt100.background:	gray5
XTerm.vt100.faceName:	DejaVu Sans Mono:pixelsize=42
XTerm.vt100.faceSize:	10
XTerm.vt100.foreground:	gray80
XTerm.vt100.geometry:	96x66
XTerm.vt100.locale:	true
XTerm.vt100.metaSendsEscape:	true
XTerm.vt100.on4Clicks:	group
XTerm.vt100.on5Clicks:	all
XTerm.vt100.printAttributes:	2
XTerm.vt100.printerCommand:	cat - | $HOME/dev/tilde/scripts/ansi2html.sh --bg=dark > "`mktemp --tmpdir xterm-screenshot.XXXXXXXXXX.html`"
XTerm.vt100.renderFont:	true
XTerm.vt100.saveLines:	32767
XTerm.vt100.scrollKey:	true
XTerm.vt100.scrollTtyOutput:	false
XTerm.vt100.translations:	#override \n Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD) \n Ctrl <KeyPress> Insert: copy-selection(PRIMARY) \n Shift <KeyPress> Insert: insert-selection(PRIMARY) \n Meta <KeyPress> M: print() \n
xscreensaver.lock:	true
xscreensaver.mode:	blank
