XTerm*metaSendsEscape: true
XTerm*printAttributes: 2
XTerm*printerCommand: cat - | $HOME/dev/tilde/scripts/ansi2html.sh > "`mktemp --tmpdir xterm-screenshot.XXXXXXXXXX.html`"
XTerm*reverseVideo: true
XTerm*saveLines: 32767
XTerm.VT100.geometry: 96x66
XTerm.VT100.translations: #override Meta <KeyPress> P: print() \n
