digikam.notifyrc
drkonqirc
kconf_updaterc
kcookiejarrc
kdebugrc
kdedrc
kdiff3rc
khelpcenterrc
kio_httprc
kioslaverc
kmailrc
kmetainformationrc
knoderc
ktimezonedrc
kuriikwsfilterrc
kwalletrc
mailtransports
phonondevicesrc
trashrc
