; mcomix GtkAccelMap rc-file         -*- scheme -*-
; this file is an automated accelerator map dump
;
; (gtk_accel_path "<Actions>/mcomix-main/properties" "<Alt>Return")
; (gtk_accel_path "<Actions>/mcomix-main/last_page" "End")
; (gtk_accel_path "<Actions>/mcomix-main/next_directory" "<Primary>n")
; (gtk_accel_path "<Actions>/mcomix-statusbar/rootpath" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_file" "")
; (gtk_accel_path "<Actions>/mcomix-main/open" "<Primary>o")
; (gtk_accel_path "<Actions>/mcomix-main/hide all" "i")
; (gtk_accel_path "<Actions>/mcomix-main/next_page" "Page_Down")
; (gtk_accel_path "<Actions>/mcomix-main/stretch" "y")
; (gtk_accel_path "<Actions>/mcomix-main/library" "<Primary>l")
; (gtk_accel_path "<Actions>/mcomix-statusbar/filenumber" "")
; (gtk_accel_path "<Actions>/mcomix-statusbar/pagenumber" "")
; (gtk_accel_path "<Actions>/mcomix-main/delete" "Delete")
; (gtk_accel_path "<Actions>/mcomix-main/quit" "<Primary>q")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_270_height" "")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_180" "")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_90_width" "")
; (gtk_accel_path "<Actions>/mcomix-main/about" "")
; (gtk_accel_path "<Actions>/mcomix-bookmarks/add_bookmark" "<Primary>d")
; (gtk_accel_path "<Actions>/mcomix-main/flip_vert" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_view" "")
; (gtk_accel_path "<Actions>/mcomix-main/menubar" "<Primary>m")
; (gtk_accel_path "<Actions>/mcomix-main/menu_open_with" "")
; (gtk_accel_path "<Actions>/mcomix-main/fit_height_mode" "h")
; (gtk_accel_path "<Actions>/mcomix-main/close" "<Primary>w")
; (gtk_accel_path "<Actions>/mcomix-main/fit_size_mode" "s")
; (gtk_accel_path "<Actions>/mcomix-main/menu_autorotate" "")
; (gtk_accel_path "<Actions>/mcomix-main/no_autorotation" "")
; (gtk_accel_path "<Actions>/mcomix-main/previous_directory" "<Primary>p")
; (gtk_accel_path "<Actions>/mcomix-main/menu_help" "")
; (gtk_accel_path "<Actions>/mcomix-main/fullscreen" "f")
; (gtk_accel_path "<Actions>/mcomix-main/menu_transform" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_go" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_autorotate_height" "")
; (gtk_accel_path "<Actions>/mcomix-main/next_archive" "<Primary><Shift>n")
; (gtk_accel_path "<Actions>/mcomix-main/go_to" "g")
; (gtk_accel_path "<Actions>/mcomix-main/menu_zoom" "")
; (gtk_accel_path "<Actions>/mcomix-main/zoom_original" "<Primary>0")
; (gtk_accel_path "<Actions>/mcomix-statusbar/resolution" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_view_popup" "")
; (gtk_accel_path "<Actions>/mcomix-main/zoom_out" "KP_Subtract")
; (gtk_accel_path "<Actions>/mcomix-bookmarks/edit_bookmarks" "<Primary>b")
; (gtk_accel_path "<Actions>/mcomix-main/enhance_image" "e")
; (gtk_accel_path "<Actions>/mcomix-main/thumbnails" "F9")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_90_height" "")
; (gtk_accel_path "<Actions>/mcomix-main/save_and_quit" "<Primary><Shift>q")
; (gtk_accel_path "<Actions>/mcomix-main/first_page" "Home")
; (gtk_accel_path "<Actions>/mcomix-main/toolbar" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_toolbars" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_open_with_popup" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_autorotate_width" "")
; (gtk_accel_path "<Actions>/mcomix-main/refresh_archive" "<Primary><Shift>r")
; (gtk_accel_path "<Actions>/mcomix-main/scrollbar" "")
; (gtk_accel_path "<Actions>/mcomix-main/zoom_in" "KP_Add")
; (gtk_accel_path "<Actions>/mcomix-main/menu_edit" "")
; (gtk_accel_path "<Actions>/mcomix-main/edit_archive" "")
; (gtk_accel_path "<Actions>/mcomix-main/previous_page" "Page_Up")
; (gtk_accel_path "<Actions>/mcomix-main/fit_manual_mode" "a")
; (gtk_accel_path "<Actions>/mcomix-main/invert_scroll" "x")
; (gtk_accel_path "<Actions>/mcomix-main/statusbar" "")
; (gtk_accel_path "<Actions>/mcomix-main/copy_page" "<Primary>c")
; (gtk_accel_path "<Actions>/mcomix-main/slideshow" "<Primary>s")
; (gtk_accel_path "<Actions>/mcomix-main/fit_width_mode" "w")
; (gtk_accel_path "<Actions>/mcomix-main/flip_horiz" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_recent" "")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_270_width" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_go_popup" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_bookmarks" "")
; (gtk_accel_path "<Actions>/mcomix-main/previous_archive" "<Primary><Shift>p")
; (gtk_accel_path "<Actions>/mcomix-main/double_page" "d")
; (gtk_accel_path "<Actions>/mcomix-statusbar/filename" "")
; (gtk_accel_path "<Actions>/mcomix-main/comments" "c")
; (gtk_accel_path "<Actions>/mcomix-openwith/edit_commands" "")
; (gtk_accel_path "<Actions>/mcomix-main/menu_bookmarks_popup" "")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_270" "<Shift>r")
; (gtk_accel_path "<Actions>/mcomix-main/manga_mode" "m")
; (gtk_accel_path "<Actions>/mcomix-main/keep_transformation" "k")
; (gtk_accel_path "<Actions>/mcomix-main/lens" "l")
; (gtk_accel_path "<Actions>/mcomix-main/rotate_90" "r")
; (gtk_accel_path "<Actions>/mcomix-main/menu_tools" "")
; (gtk_accel_path "<Actions>/mcomix-main/minimize" "n")
; (gtk_accel_path "<Actions>/mcomix-main/preferences" "F12")
; (gtk_accel_path "<Actions>/mcomix-main/extract_page" "<Primary><Shift>s")
; (gtk_accel_path "<Actions>/mcomix-main/best_fit_mode" "b")
