cachedDictionary.xml
dimensions.xml
feature.usage.statistics.xml
find.recents.xml
jdk.table.xml
packages.xml
project.default.xml
proxy.settings.pwd
recentProjects.xml
scratches.xml
statistics.application.usages.xml
usage.statistics.xml
window.manager.xml
window.state.xml
